{% extends 'base_login.html' %}

{% block content %}
    <div class="text-center">
        <h4 class="text-dark mb-4">Login Form</h4>
    </div>
    <div class="user">
        <form class="user" method="post">
            {% csrf_token %}
            <div class="mb-3">{{ form.username }}</div>
            <div class="mb-3">{{ form.password }}</div>
            <div class="text-center">
                <button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
            </div>
        </form>
        <div class="text-center mt-3">
            <a class="small" href="{% url 'signup' %}">Create an Account!</a>
        </div>
    </div>
{% endblock %}